<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Renovit - Bringing Construction Industry to the 21st Century</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <!-- <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet"> -->

    <!-- Theme CSS -->
    <!-- <link href="css/creative.min.css" rel="stylesheet"> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

<br><br><br><br><br><br><br><br><br><br><br><br>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Start Your Renovation Project Today</h1>
                <hr>
                <br>
                <p>You have a precise idea of what you want but don't feel like handling the stressful process of sourcing and managing your contractor?</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>
<br><br><br><br><br><br><br><br><br><br><br><br>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded">Find the best and cheapest qoutes online. Tell us what your construction project is by signing up and submitting a project.</p>
                    
                    <%= link_to('Sign Up Now', new_user_registration_path, class:"page-scroll btn btn-default btn-xl sr-button") %>
                </div>
            </div>
        </div>
      </section>

      <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Post your job for free</h3>
                        <p class="text-muted">Describe your project and wait for a project manager to get in touch.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-hourglass-half  text-primary sr-icons"></i>
                        <h3>Wait for Bids</h3>
                        <p class="text-muted">After refining the requirements, wait for 4 bids to come through.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-hand-pointer-o text-primary sr-icons"></i>
                        <h3>Choose a bid</h3>
                        <p class="text-muted">Select the winning quotation with easy to compare bids and customer reviews.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-wrench text-primary sr-icons"></i>
                        <h3>Construction Begins</h3>
                        <p class="text-muted">A contractor will be ready to start! Let the project manager handle the process.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding " id="price">
        <div class="container-fluid" id="services">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="header.jpg" class="portfolio-box">
                        <%=image_tag("proj1.jpg", size: "470x350", class: "") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    The Regency Suites 
                                </div>
                                <div class="project-name">
                                    
                                    "Renovit provided the best contractor to do the job ~ Maximillian Toddle"
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                    <%=image_tag("proj2.jpg", size: "485x350") %>
                        <!-- <img src="img/portfolio/thumbnails/2.jpg" class="img-responsive" alt=""> -->
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Unicorn Tower
                                </div>
                                <div class="project-name">
                                    "Incredible recommendation by Renovit. Thumbsup! ~ Todd Jenkins
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <%=image_tag("proj3.jpg", size: "470x350") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Bukit Batok View
                                </div>
                                <div class="project-name">
                                    "Easy and quick to use. I am sold!" ~ Thomas Wee
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <%=image_tag("proj4.jpg", size: "470x350") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Tiong Barhu Ridge
                                </div>
                                <div class="project-name">
                                    "I love the new house. Renovit solved by problems" ~ Charmaine Goh
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <%=image_tag("proj5.jpg", size: "470x350") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Maxwell Avenue Drive
                                </div>
                                <div class="project-name">
                                    "Renovit's contractors did an amazing job" ~ Sherlee Ciu
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <%=image_tag("proj6.jpg", size: "470x350") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Thomas Drive
                                </div>
                                <div class="project-name">
                                    "I never imagined using this website would be so easy" ~ Reynold James
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

       <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Have a project in mind?</h2>
               
                <%= link_to 'Start Your Project', new_project_path, class: "page-scroll btn btn-default btn-xl sr-button"  %> 
            </div>
        </div>
    </aside>

     <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>1800-RENOVIT</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">hello@renovit.com</a></p>
                </div>
            </div>
        </div>
    </section>

<!-- Theme JavaScript -->
    <!-- <script src="creative.min.js"></script> -->
    
</body>    