<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"What country is the property in?" %>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :"What region is the property in?" %>
    <%= f.text_field :region %>
  </div>

  <div class="field">
    <%= f.label :"What type of contractor do you need?" %>
    <%= f.collection_select :contractor, Contractor.all, :name, :name, {disabled: '--Select the contractor type--', selected: '--Select the contractor type--' } %>
  </div>

  <div class="field">
    <%= f.label :"When would you like the job to start?" %>
    <%= f.collection_select :timing, Timing.all, :time, :time, {disabled: '--Select the timing--', selected: '--Select the timing--' } %>
  </div>


<!--   <div class="field">
    <%= f.label :job %>
    <%= f.text_field :job %>
  </div> -->


  <div class="field">
    <%= f.label :"What is your approximate budget?" %>
    <%= f.text_field :budget %>
  </div>

  <div class="field">
    <%= f.label :"Which type of property?" %>
    <%= f.collection_select :property, Property.all, :property, :property, {disabled: '--Select the property type--', selected: '--Select the property type--' } %>
  </div>

  <div class="field">
    <%= f.label :"What's the postal code?" %>
    <%= f.text_field :postal %>
  </div>

  <div class="field">
    <%= f.label :preference %>
    <%= f.collection_select :preference, Preference.all, :preference, :preference %>
  </div>

  <div class="field">
    <%= f.label :"Please write the description for your job" %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


