
<%= bootstrap_form_for(project, layout: :horizontal, label_col: "col-sm-6", control_col: "col-sm-6") do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.text_field :country, label: "What country is the property in? *", required:true %>
  </div>

  <div class="field">
    <%= f.text_field :region, label:"What region is the property in? *", required:true %>
  </div>

  <div class="field">
    <%= f.collection_select :contractor, Contractor.all, :name, :name , {disabled: '--Select the contractor type--', selected: '--Select the contractor type--', label: "What type of contractor do you need? *" } %>
  </div>

  <div class="field">
    <%= f.collection_select :timing, Timing.all, :time, :time, {disabled: '--Select the timing--', selected: '--Select the timing--', label:"When would you like the job to start? *" } %>
  </div>


<!--   <div class="field">
    <%= f.label :job %>
    <%= f.text_field :job %>
  </div> -->


  <div class="field">
    <%= f.text_field :budget, label:"What is your approximate budget?", prepend:"$", required:true %>
  </div>

  <div class="field">
    <%= f.collection_select :property, Property.all, :property, :property, {disabled: '--Select the property type--', selected: '--Select the property type--', label:"Which type of property? *"  } %>
  </div>

  <div class="field">
    <%= f.text_field :postal, label:"What's the postal code? *", required:true %>
  </div>

  <div class="field">
    <%= f.text_field :mobile, label:"What is your mobile number? *", prepend:"+", required:true %>
  </div>

  <div class="field">
    <%= f.collection_select :preference, Preference.all, :preference, :preference, label:"When do you prefer to be contacted? *" %>
  </div>

  <div class="field">
    <%= f.text_area :description, rows: 5, label:"Please write the description for your job: *", placeholder:"This will help contractors give a better quotation.", required:true %>
  </div>


  <div class="field">
    <%= f.text_area :question, label:"Our service includes project management support through phone, skype and email. Would you prefer in-person support for 5% at your project costs? *", required:true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


