<br><br><br>
<div class="container" id="contact">
<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Country</th>
      <th>Region</th>
      <th>Contractor</th>
      <th>Timing</th>
      <!-- <th>Job</th> -->
      <!-- <th>Start</th> -->
      <th>Budget</th>
      <th>Property</th>
      <th>Postal</th>
      <th>Mobile</th>
      <th>Preference</th>
      <th>Description</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.country %></td>
        <td><%= project.region %></td>
        <td><%= project.contractor %></td>
        <td><%= project.timing %></td>
        <!-- <td><%= project.job %></td> -->
        <!-- <td><%= project.start %></td> -->
        <td><%= project.budget %></td>
        <td><%= project.property %></td>
        <td><%= project.postal %></td>
        <td><%= project.mobile %></td>
        <td><%= project.preference %></td>
        <td><%= project.description %></td>
        <td><%= project.question %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
</div>
