<br><br><br>
<div class="container" id="contact">
<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @project.country %>
</p>

<p>
  <strong>Region:</strong>
  <%= @project.region %>
</p>

<p>
  <strong>Contractor:</strong>
  <%= @project.contractor %>
</p>

<!-- <p>
  <strong>Project Timing:</strong>
  <%= @project.timing %>
</p> -->

<!-- <p>
  <strong>Job:</strong>
  <%= @project.job %>
</p> -->

<p>
  <strong>Start:</strong>
  <%= @project.timing %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @project.budget %>
</p>

<p>
  <strong>Property:</strong>
  <%= @project.property %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @project.postal %>
</p>

<p>
  <strong>Preference to call:</strong>
  <%= @project.preference %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Our service includes project management support through phone, skype and email. Would you prefer in-person support for 5% at your project costs?</strong>
  <%= @project.question %>
</p>


<%= link_to 'Back', projects_path %>
</div>